<!--Sier at vi skal arve fra base.html:-->
{% extends "base.html" %}

<!--Lager blokk for tittelen-->
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% block title %}Stimle hjemmeside{% endblock %}

<!--Blokk for content-->
{% block content %}

<div class="sensor-container">
    <h1>Velkommen til stimle!</h1>
</div>




    


<div class="home-container">
    <div class="text-box">
        <p>
            Villaksen i Norge er klassifisert som nært truet på den norske rødlista, 
            og en av de raskest voksende truslene er den invaderende pukkellaksen. 
            Forvaltning og forskning på den norske laksefiskbestanden tar i dag bruk 
            sorteringssystemer og overvåkningsløsninger, men disse er begrenset til bruk i elver. 
            Dette prosjektet utvikler en komplett overvåkning/telle løsning samt datainnsalming 
            av vann til bruk i sund. Systemet har som mål å gi nyttig informasjon til bruk i 
            forvaltning og forskning om innsiget inn i fjordene før fisken går opp i elvene, 
            et neglisjert område.
        </p>
        <img src="{{ url_for('static', filename='pukkel_vs_vill.png') }}" alt="Pukkellaks vs villaks">
    </div>
    <img src="{{ url_for('static', filename='stimle_diagram.jpg') }}" alt="Observasjonskammer">
</div>


{% endblock %}

