<!--Sier at vi skal arve fra base.html:-->
{% extends "base.html" %}

<!--Lager blokk for tittelen-->
{% block title %}Sensor{% endblock %}

<!--Blokk for content-->
{% block content %}
<h1>Sensor</h1>

<h2>Temperatur</h2>

<!--Temperatur-->
<canvas id="temperaturChart" width="300" height="100"></canvas>

<h2>Strømning</h2>
<!--Strømning-->
<canvas id="strømningChart" width="300" height="100"></canvas>

<!--TDS-->
<canvas id="tdsChart"></canvas>

<!--Dybde-->
<canvas id="dybdeChart"></canvas>

<!--Turbiditet-->
<canvas id="turbiditetChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='sensor.js') }}"></script>
{% endblock %}