<!--Sier at vi skal arve fra base.html:-->
{% extends "base.html" %}

<!--Lager blokk for tittelen-->
{% block title %}Ukas fisk{% endblock %}

<!--Blokk for content-->
{% block content %}
<h1>Ukas fisk</h1>


<div class="ukas_fisk-container">
    <div class="text-box">
        <p>
            Andrine er kåret til ukas fisk av Stimle, 
            da hun har hjulpet oss mye med opptrening av KI-modellen vår!
        </p>
    </div>
    <img src="{{ url_for('static', filename='vår_kjære_andrine.jpg') }}" alt="Andrine">
</div>


{% endblock %}